*{
    margin: 0px;
    padding: 0px;
    font-family: optima, sans-serif;
}

.header-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(14, 41, 60);
    color: white;
    padding: 18px 27px;
    font-size: 22px;
}

.header-bar a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-right: auto;
    font-weight: bold;
}

.search {
    margin-left: auto;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.about::before {
    content: "";
    background-image: url(/images/background.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.about div {
    position: relative;
    margin: 100px 80px;
    width: 700px;
    color: #000000;
    font-size: 28px;
    text-align: left;
}

.highlight-review {
    height: 100%;
}

.question-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.question-form input{
    width: 70%;
    height: 50px;
}

