*{
    margin: 0px;
    padding: 0px;
    font-family: optima, sans-serif;
}

.header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(14, 41, 60);
    color: white;
    padding: 18px 27px;
    font-size: 22px;
}

.header-bar a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 28px;
}

.search {
<<<<<<< HEAD
    margin-left: auto;
=======
    align-self: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 275px;
    flex: 1 1 200%;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    background: rgb(21, 61, 90);
    border-radius: 30px;
}

.search-bar input{
    flex: 1;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: rgb(209, 198, 198);   
    padding: 5px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    margin: 3px 6px;
>>>>>>> 5892e20b0706b57519f36cb10d56f2d6b230e6df
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.about::before {
    content: "";
    background-image: url(/images/background.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.about div {
    position: relative;
    margin: 100px 80px;
    width: 700px;
    color: #000000;
    font-size: 28px;
    text-align: left;
}

.highlight-review {
    height: 100%;
}

.question-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.question-form input{
    width: 70%;
    height: 50px;
}

