<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionaire</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>
<body>
    <nav class="header">
        <div class="header_container">
            <div class="header_toggle">
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="header_menu">
                <li class = "header_item">
                    <a href="/" class="header_links">HOME</a></li>
                <li class = "header_item">
                    <a href="/questionaire" class="header_links">FORM</a></li>
                <li class = "header_item">
                    <a href="/about" class="header_links">ABOUT</a></li>
            </ul>
        </div>
    </nav>
    <section class="question-form">
        <form>
            <label for="q1">1. How confident do you feel about the stability of your job in the next 6-12 months?</label><br>
            <input type="text" id="confidence" name="confidence"><br>
            <label for="q2">2.Have you heard any rumors or received any communication about potential layoffs or restructuring within the company?</label><br>
            <input type="text" id="rumors" name="rumors"><br>
            <label for="q3">3.How would you rate the level of transparency and communication from leadership regarding company performance and future plans?</label><br>
            <input type="text" id="communication" name="communication">><br>
            <label for="q4">4.Have you received any training or support to help you stay competitive in your role?</label><br>
            <input type="text" id="training" name="training">><br>
            <label for="q5">5.Do you feel that your job duties and responsibilities are secure, or have there been changes in your role that make you uncertain about your future with the company?</label><br>
            <input type="text" id="duties" name="duties">><br>
            <label for="q6">6.How would you describe the overall morale and job security of your colleagues?</label><br>
            <input type="text" id="morale" name="morale">><br>
            <label for="q7">7.Have you seen any recent changes in the company's financial performance that make you concerned?</label><br>
            <input type="text" id="financial" name="financial">><br>
            <label for="q8">8.Do you feel that your job provides meaningful work that aligns with your career goals and aspirations?</label><br>
            <input type="text" id="meaningful" name="meaningful">><br>
            <label for="q9">9.How would you rate your overall job satisfaction, taking into account your sense of job security?</label><br>
            <input type="text" id="satisfaction" name="satisfaction">><br>
        </form>
    </section>
    <section class="">
    </section>
</body>
</html>


 