<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Career Rater</title>
</head>
<body>
    <div class="header-bar">
        <div class="logo">
            <a href="/index">Career Rater</a>
        </div>
        <div class="search">
            <form action="" class="search-bar" >
                <input type="text" placeholder="search a workplace" name="n">
                <button type="submit"><img src="images/search-icon.png"></button>
            </form>
        </div>
    </div>
    <div class="about">
        <div>
            <h1>
                What is Career Rater?
            </h1>
            <p>
                Career Rater allows employees of a company to safely and anonymously rate companies and workplaces online. 
                Our goal is creating a safer workplace in addition to improving job security. Rating are based off of 
                factors such as job stability, satisfaction, environment, and others. 
                Ratings are then posted online for public viewing.
            </p>
        </div>
    </div>
    <div class="highlight-review">
        <div>
            <h2>
                Get started by entering your company
            </h2>
            <form method="post">
                <input type="text" name="company" minlength="1" maxlength="100" placeholder="Your company" autofocus required><br>
                <input type="text" name="company" minlength="1" maxlength="100" placeholder="Field of work" autofocus required><br>
                <input type="text" name="company" minlength="1" maxlength="100" placeholder="Location" autofocus required><br>
                <input type="submit" value="Speak your mind!">
            </form>
        </div>
    </div>
    <div class="footer">
        <p>By using this site, you agree to our (nonexistent) privacy policy.</p>
        <p>Copyright 2023 Placeholder Ltd.</p>
    </div>
</body>
</html>